:root {
    --prymary-color: #F0F0F0;
    --primary-bg-color: #094173;
    --secondary-bg-color: #094A73;
    --border-color:#C7C8C9;
    --title-color: #F0F0F0;
    --text-color: #C5D0D9;
    --link-color: #C5D0D9;
    --icon-color: #C7C8C9;
}

body {
    background: var(--primary-bg-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.3rem;
}

i {
    color: var(--icon-color);
}

.toggle-box {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    font-size: 1.5rem;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    height: 3rem;
    background: var(--prymary-bg-color);
}

.nav-desktop{
    display: none;
}
.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    margin-bottom: .2rem;

}

.menu-mobile .menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.menu-link.active .menu-icon, 
.menu-link.active .menu-text,
.menu-link:hover .menu-icon, 
.menu-link:hover .menu-text {
    color: var(--prymary-color);
    font-weight: 600;
}

.menu-icon, .menu-text {
    color: var(--text-color);
}

.menu-icon {
    font-size: 1.4rem;
}

.menu-text {
    font-size: .7rem;
    text-transform: uppercase;
}

.menu-item{
    width: 100%;
}

@media (min-width:769px) {

    header {
        width: 100vw;
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 3rem;
        background: var(--primary-bg-color);
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
        min-width: 30%;
    }

    .menu-text{
        font-size: 1rem;
    }

    .menu-principal {
        gap: 1rem;

    }

    .toggle-box{
        min-width: 30%;
    }

}

@media (min-width:1440px) {
    
    header{
        padding: 1rem 5rem;
    }
}